*{
	padding: 0px;
	margin: 0px;
}
#head{
	width: 100%;
	height: 80px;
	/*border: px solid #AAAAAA;*/
	/*background-color: #AAAAAA;*/
	box-shadow: 0px 3px 5px #aaa;
	background-color:#0078CA;
}
#head ul{
list-style: none;
margin-left: 10%;
margin-top: -80px;
}
#head ul li{
	display: inline-block;
	width: 10%;
	text-align: center;
	line-height: 80px;
	height: 75px;
    /*box-shadow: 0px 5px 5px #aaa;*/
    background-color:dodgerblue;
    border-radius: 5px;
}
#head ul li:hover{
	background-color: #008000;
}
#head ul li:hover a{
	background-color: #008000;
	color:white;
}
#head ul li a:hover{
	color:white;
}
#head ul li a{
	text-decoration: none;
	font-size:25px;
	color: black;
}
#head img{
	height: 80px;
	width: 210px;
	border-radius: 10px;
	box-shadow: 0px 5px 5px #aaa;
}
#welcome img{
	width:30px; 
	height:30px;
	margin-top: 20px;
	margin-left: 5%;
}
#welcome strong{
	text-align: center;
	font-size:25px ;
	
}

#welcome {
	width: 250px;
	height: 50px;
    /* background-color: #AAAAAA;*/
	margin-left: 80%;
	margin-top:-60px ;
	 /*box-shadow: 0px 5px 5px #aaa;*/
}
/*
 * 下拉div
 */
#libiao{
	z-index:999px;
	height: 1000px;
	width: 210px;
	border-right: 5px solid #AAAAAA;
}
#libiao #lb_01 {
	font-size:25px ;
	width:210px;
	height: 50px;
  /* border: 1px solid red;*/
}
#libiao #lb_01 p{
	margin-top: -50px;
	text-align: center;
}

/*
 * 一个大的div
 */
#shop_li{
	width:210px;
	height: 0px;
	 border: 1px solid green;
	overflow: hidden;
}
#shop_li ul{
	list-style: none;
}
#shop_li ul li{
	width:210px;
	height: 35px;
	background-color: #aaa;
	border-bottom: 3px solid #3E3E3E;
	text-align: left;
	line-height: 35px;
	cursor: pointer;
}
#shop_li ul li:hover{
	background-color: green;
}
#shop_li ul li:hover a{
	background-color: green;
	color: white;
}
#shop_li ul li a{
	font-size:20px;
	margin-left: 60px;
}

/*
 * 设置订单管理的列表
 */
#order_gl{
	width:210px;
	height: 0px;
	 border: 1px solid green;
	overflow: hidden;
}
#order_gl ul li{
	width:210px;
	height: 35px;
	background-color: #aaa;
	border-bottom: 3px solid #3E3E3E;
	text-align: left;
	line-height: 35px;
	cursor: pointer;
}
#order_gl ul li:hover{
	background-color: green;
}
#order_gl ul li:hover a{
	background-color: green;
	color: white;
}
#order_gl ul li a{
	font-size:20px;
	
	margin-left: 60px;
}


/*
 * 文本域
 */
#_iframe{
	margin-left: 210px;
    margin-top: -1000px;;
}
iframe{
	 width:100%;
	 height:1000px;
	 
	/*z-index: ;*/
/*	margin:-200px auto;*/
}
