*{
	padding: 0px;
	margin:0px;
}
#_span{
	height: 50px;
	background-color: #006400;
	padding-top: 25px;
}

#zhong #_add_lm{
	margin: 300px auto;
	text-align: center;
	font-size: 20px;
}
#zhong #_add_lm input{
	height: 50px;
	width: 500px;
	background-color: #DEDEDE;
	border-radius: 5px;
}
#zhong #_add_lm select{
	height: 50px;
	width: 500px;
	background-color: #DEDEDE;
	border-radius: 5px;
}
#zhong #_add_lm select option{
	height: 30px;
	width: 480px;
	padding-top: 10px;
	
}
#zhong #_add_lm button{
	height: 50px;
	width: 300px;
	background-color: chartreuse;
	border-radius: 10px;
}